:root {
  font-family: var(--font-body);
  font-synthesis: none;
  line-height: 1.6;
  color: #49473f;
  text-rendering: optimizelegibility;

  background: #f8f5ef;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
}

a {
  color: #365e40;
}
